@import 'tailwindcss';

/* Pretendard */
@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* MaruBuri */
@font-face {
  font-family: 'MaruBuri';
  src: url('/fonts/MaruBuri-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MaruBuri';
  src: url('/fonts/MaruBuri-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MaruBuri';
  src: url('/fonts/MaruBuri-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MaruBuri';
  src: url('/fonts/MaruBuri-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@custom-variant dark (&:where(:not(.light):is(:root[data-theme="dark"] *, :root[data-theme="dark"]))
);

:root {
  --color-background: #fafaf8;
  --color-text: #000000;
  --color-primary: #e8e8e6;
  --color-secondary: #e6e7e7;
  --color-label-gray: #d1d1cf;
  --color-label-brown: #c4a484;
  --color-label-orange: #e8a878;
  --color-label-yellow: #e8d078;
  --color-label-green: #a8c484;
  --color-label-blue: #84a8c4;
  --color-label-purple: #a884c4;
  --color-label-pink: #e8a8c4;
  --color-label-red: #e88484;
}

[data-theme='dark'] {
  --color-background: #08031b;
  --color-text: #ffffff;
  --color-primary: #5a5a58;
  --color-secondary: #4d4f4f;
  --color-label-gray: #6b6b69;
  --color-label-brown: #8b6f47;
  --color-label-orange: #b8763e;
  --color-label-yellow: #c4a83e;
  --color-label-green: #6b8b47;
  --color-label-blue: #476b8b;
  --color-label-purple: #6b478b;
  --color-label-pink: #b8476b;
  --color-label-red: #b84747;
}

@theme inline {
  --font-pretendard: 'Pretendard';
  --font-maruBuri: 'MaruBuri';
}

@layer base {
  html,
  body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-pretendard);
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-text);
  }
}
